/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/
@import "tailwindcss";
/* Custom scrollbar styles */
.scrollbar-custom {
    /* For Firefox */
    scrollbar-width: thin;
    scrollbar-color: #1D194C #f1f1f1;
}

/* For WebKit browsers (Chrome, Safari) */
.scrollbar-custom::-webkit-scrollbar {
    width: 8px; /* Width of the vertical scrollbar */
    height: 8px; /* Height of the horizontal scrollbar */
}

.scrollbar-custom::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color of the scrollbar track */
    border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #1D194C; /* Color of the scrollbar thumb */
    border-radius: 10px;
}
